@import 'base';

.App {
    background: url('../images/bg-intro-desktop.png') no-repeat center center;
    background-color: $Red;
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    align-items: center;


    .signup-cont {
        display: grid;
        gap: 30px;
        grid-template-rows: auto auto;
    }
}